PORT=8000
MONGO_URI=  mongo db url from mongo db atlas
JWT_SECRET=kjsnfksdjoifjesiofkjnkcnxcvxdf
JWT_EXPIRES_IN=7d
GEMINI_API_KEY= Your gemini key
GEMINI_MODEL=gemini-2.5-flash
CLIENT_URL=http://localhost:5173